# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-wheel-metadata/
.eggs/
*.egg-info/
*.egg

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Docker
docker-compose.override.yml

# IDEs
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
